{% extends 'contrato/base.html' %} {% load static %} {% block content %}
<div
  style="
    height: 800px;
    border: 1px solid #d7eccd;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
  "
  class="container"
>
  <div style="display: flex; justify-content: flex-end">
    <a href="{% url 'listagem_contrato' %}"
      ><button class="btn btn-primary" style="display: row">
        <i class="fas fa-circle-plus"></i> Consultar Contratos
      </button></a
    >
  </div>
  <h1>Cadastro de Novo Contrato</h1>
  <form
    action="{% url 'cadastro_contrato' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}{% if messages %} {% for message in messages %}
    <div class="alert alert-success p-3" role="alert">{{message}}</div>
    {% endfor %} {% endif %} {% for field in form.visible_fields %}
    <div class="form-outline form-white mb-4">
      {% if field.errors %}
      <div class="alert alert-warning" role="alert">{{field.errors}}</div>
      {% endif %}
      <label class="form-label" for="">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Cadastrar</button>
  </form>
</div>
{% endblock %}
