{% extends 'contrato/base.html' %} {% load static %} {% block content %}
<div
  style="
    border: 1px solid #d7eccd;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
  "
  class="container"
>
  <div style="display: flex; justify-content: flex-end">
    <a href="{% url 'listagem_contrato' %}"
      ><button class="btn btn-primary" style="display: row">
        <i class="fas fa-circle-plus"></i> Consultar Contratos
      </button></a
    >
  </div>
  <h1>Cadastro de Novo Contrato</h1>
  <form
    action="{% url 'cadastro_contrato' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}{% if messages %} {% for message in messages %}
    <div class="alert alert-success p-3" role="alert">{{message}}</div>
    {% endfor %} {% endif %}
    <div class="form-outline mb-4 col-6">
      {% if form.numero_contrato.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.numero_contrato.errors}}
      </div>
      {% endif %}
      <label class="form-label">Número do Contrato</label>
      <input
        type="text"
        class="form-control"
        name="numero_contrato"
        id="numero_contrato"
        value="{{contrato.numero_contrato}}"
      />
    </div>
    <div class="form-outline mb-4 col-6">
      {% if form.numero_processo.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.numero_processo.errors}}
      </div>
      {% endif %}
      <label class="form-label">Número do Processo</label>
      <input
        type="text"
        class="form-control"
        name="numero_processo"
        id="numero_processo"
        value="{{contrato.numero_processo}}"
      />
    </div>
    <div class="form-outline mb-4 col-6">
      {% if form.numero_empenho.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.numero_empenho.errors}}
      </div>
      {% endif %}
      <label class="form-label">Número do Empenho</label>
      <input
        type="text"
        class="form-control"
        name="numero_empenho"
        id="numero_empenho"
        value="{{contrato.numero_empenho}}"
      />
    </div>
    <div class="form-outline mb-4 col-6">
      {% if form.objeto.errors %}
      <div class="alert alert-warning" role="alert">{{form.objeto.errors}}</div>
      {% endif %}
      <label class="form-label">Objeto</label>
      <input
        type="text"
        class="form-control"
        name="objeto"
        id="objeto"
        value="{{contrato.objeto}}"
      />
    </div>
    <div class="form-outline mb-4">
      {% if form.anx_contrato.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.anx_contrato.errors}}
      </div>
      {% endif %}
      <label class="form-label">Anexo Contrato</label>
      {{form.anx_contrato}}
    </div>
    <div class="form-outline mb-4">
      {% if form.anx_empenho.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.anx_empenho.errors}}
      </div>
      {% endif %}
      <label class="form-label">Anexo Empenho</label>
      {{form.anx_empenho}}
    </div>
    <div class="form-outline mb-4">
      {% if form.anx_portaria.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.anx_portaria.errors}}
      </div>
      {% endif %}
      <label class="form-label">Portaria</label>
      {{form.anx_portaria}}
    </div>
    <div class="form-outline mb-4">
      {% if form.fk_empresa.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.fk_empresa.errors}}
      </div>
      {% endif %}
      <label class="form-label">Empresa</label>
      {{form.fk_empresa}}
    </div>
    <div class="form-outline mb-4">
      {% if form.fk_fiscal.errors %}
      <div class="alert alert-warning" role="alert">
        {{form.fk_fiscal.errors}}
      </div>
      {% endif %}
      <label class="form-label">Fiscal</label>
      {{form.fk_fiscal}}
    </div>
    <button class="btn btn-success" type="submit" name="_save">
      Cadastrar
    </button>
  </form>
</div>
{% endblock %}
