{% extends 'contrato/base.html' %} {% load static %} {% block content %}
<div
  style="
    border: 1px solid #d7eccd;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
  "
  class="container"
>
  <div class="card p-2 mb-3">
    <div class="container mb-0 mt-2">
      <div class="row justify-content-end">
        <div class="col-11"><h1>Detalhes do Evento</h1></div>
        <div class="col-1">
          <a class="text-dark" href="#" title="Editar"
            ><i class="fa-solid fa-pen"></i
          ></a>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Número Aditivo</th>
          <th scope="col">Valor Aditivo</th>
          <th scope="col">Objeto Aditivo</th>
          <th scope="col">Assinado Em</th>
          <th scope="col">Cadastrado Em</th>
          <th scope="col">Anexos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">{{evento.numero_aditivo}}</th>
          <th scope="col">{{evento.valor_aditivo}}</th>
          <th scope="col">{{evento.objeto_aditivo}}</th>
          <th scope="col">{{evento.assinado_em}}</th>
          <th scope="col">{{evento.cadastrado_em}}</th>
          <th scope="col">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#docsModal"
            >
              <i class="fa-regular fa-folder fa-xl"></i>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
    <!--MODAL-->
    <div
      class="modal fade"
      id="docsModal"
      tabindex="-1"
      aria-labelledby="docsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="docsModalLabel">
              Anexos do Contrato
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/media/{{evento.anx}}">Anexo</a>
              </li>
            </ul>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
